.topnav{
    background-color: rgb(186, 189, 190);
    overflow: hidden;
    
}
.topnav a{
    float: right;
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 17px;

}

.topnav a:hover{
    color: black;
}
